@use 'sass:map';

// Primitives
@mixin create-token($name, $type, $value) {
	@property --#{$name} {
		syntax        : if($type != '*', '<#{$type}>', $type);
		inherits      : false;
		// initial-value uses #{} to remove extra quotes in strings like font-family.
		initial-value : #{$value};
	}
}

@mixin create-token-map($tokens, $type : "*") {
	@each $name, $value in $tokens {
		@include create-token($name, $type, $value);
	}
}

// Semantics
@mixin create-semantic($name, $value, $map) {
	@if (map.has-key($map, $value)) {
		--#{$name} : var(--#{$value}, #{map.get($map, $value)});
		@debug  #{map.get($map, $value)};
	} @else {
		@debug '⚠ $value "#{$value}" doesn\'t exist in primitive the map.';
	}
}

@mixin create-semantic-map($semantics, $primitives) {
	:root {
		@each $name, $value, $second-value in $semantics {
			@include create-semantic($name, $value, $primitives);
		}
		// Change font-size token in desktop
		@include from(lg) {
			@each $name, $value, $second-value in $semantics {
				@if ($second-value) {
					@include create-semantic($name, $second-value, $primitives);
				}
			}
		}
	}
}
