$semantic-colors : (
		color-text-prominent     : black-000,
		color-text-content       : grey-100,
		color-text-content-light : veneco,
);

@include create-semantic-map($semantic-colors, $primitive-colors);
