$primitive-colors      : (
		black-000 : black,
		black-100 : #F5F5F5,
		white-900 : #FFFFFF,
);

$primitive-font-sizes  : (
		font-size-150 : #{rem(12px)},
		font-size-175 : #{rem(14px)},
		font-size-200 : #{rem(16px)},
		font-size-250 : #{rem(20px)},
		font-size-400 : #{rem(32px)},
		font-size-500 : #{rem(40px)},
		font-size-600 : #{rem(48px)},
		font-size-800 : #{rem(64px)},
);

$primitive-font-family : (
		font-family-primary   : Coolvetica,
		font-family-secondary : 'Open Sans',
);

$primitive-font-weight : (
		font-weight-400 : 400,
		font-weight-600 : 600,
		font-weight-700 : 700,
);

@include create-token-map($primitive-colors, color);
@include create-token-map($primitive-font-sizes, size);
@include create-token-map($primitive-font-family, family);
@include create-token-map($primitive-font-weight, weight);
