@use "sass:map";

@mixin create-semantic($name, $value, $map) {
	@if (map.has-key($map, $value)) {
		--#{$name} : var(--#{$value}, #{map.get($map, $value)});
	} @else {
		@debug '⚠ $value "#{$value}" doesn\'t exist in primitive the map.';
	}
}

@mixin create-semantic-map($semantics, $primitives) {
	@each $name, $value in $semantics {
		@include create-semantic($name, $value, $primitives);
	}
}

$semantic-colors : (
	color-text-content : veneco,
	color-text-content-light : white-900,
);

:root {
	@include create-semantic-map($semantic-colors, $primitive-colors);
}
